html {
	font-size: 10px;
}

body{	
	font-size: 1.4;
	line-height: normal;
	@include light;
	color: $font--color3;	
	font-family: $main-font;
}

h1,h2,h3,h4,h5,h6{
	font-family: $main-font;
	font-weight: 400;
	color: $font--color1;
	line-height: normal;
	margin-bottom: 30px;
}

h1{	
	font-size: 3.2rem;
}

h2{	
	font-size: 2.8rem;	
}

h3{
	font-size: 2.4rem;	
}

h4{	
	font-size: 1.8rem;
	font-weight: 700; 
}
h5{	
	font-size: 1.6rem;
	text-transform: uppercase;
}

h6{
	font-size: 1.5rem;
	font-weight: 700;
	text-transform: uppercase;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: inherit;
	font-size: inherit;
	font-weight: inherit;
}

p,span,label,li{
	color: $font--color2;
}

p{	
	font-size: 1.6rem;
	line-height: 26px;
	margin: 0 0 30px;
	p,a,span,label, em{
		font-size: 100%;
		margin: 0;
	}	
	strong{
		@include semi-bold;
	}
	a {
		color: $brand--color1;
	}
}

a{
	color:$font--color2;
	margin: 0;
	&:hover{
		text-decoration: none;
	}
	span{
		color: inherit;
	}
}

span,label,a{
	display: inline-block;	
}
blockquote{
}


hr {
	width: 100%;
	margin-bottom: 30px;
}

b {
	font-weight: 700;
}